version: '3.8'
services:
  auth:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: auth

    ports:
      - "8070:8070"

    # 환경 변수 설정
    environment:
      DB_URL: jdbc:mysql://mysql-8:3306/qktmzmfks9?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
      DB_USER: root
      DB_PASSWORD: 1234

      JWT_SECRET: mySecretKeyForJWTTokenGenerationThisKeyMustBeLongAndVeryStrongHS512Algorithm
      JWT_ACCESS_TOKEN_EXPIRATION: 600000
      JWT_REFRESH_TOKEN_EXPIRATION: 604800000

      KAKAO_CLIENT_ID: 86e69bc47d238c761192f7e22c26814a
      KAKAO_CLIENT_SECRET: KcYkzdiYU2WgDIqWJ0M25PD9je0ZQmKP
      KAKAO_REDIRECT_URI: http://localhost:8070/oauth/kakao/callback

      # Spring profile 정보(일단 생략)

    # 네트워크 설정
    network_mode: bridge

    # 의존성(Dependency)
    external_links:
      - mysql-8

    # 재시작 정책
    restart: unless-stopped

######################################################
# 1. auth container 실행
# docker compose up -d

# 2. 로그 확인하기(실시간, 종료하려면 ctrl+c)
# docker compose logs -f auth

# 3. conatainer 중지
# docker compose stop

# 4. 재시작
# docker compose restart

# 5. 삭제
# docker compose down
# 볼륨까지 삭제 시
# docker compose down -v

# 6. build 후 시작하기
# docker compose up -d --build

# 7. 컨테이너 & 이미지 삭제
# docker compose down --rmi all